body {
    background-color: #E6EFF6;
}
.div-principal {
    margin-top: 124px;
    margin-bottom: 124px;
    position: relative;
    height: 372px;
}
.section-1 {
    width: 45%;
    height: 155px;
    background-color: #FFFFFF;
    margin: auto;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.p-1 {
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 15px;
    color: #2BB3B1;
    font-size: 27px;
    font-weight: bold;
}
.p-2 {
    padding-left: 30px;
    padding-bottom: 10px;
    color: #C2D36E;
    font-size: 19.5px;
    font-weight: bold;
}
.p-3 {
    padding-left: 30px;
    padding-bottom: 16px;
    line-height: 1.5;
    font-size: 17.5px;
    color: #C7CBCE;
}
.section-2 {
    width: 22.5%;
    height: 217px;
    background-color: #2BB3B1;
    border-bottom-left-radius: 7px;
    position: relative;
    left: 376px;
}
.p-4 {
    padding-left: 30px;
    font-size: 20px;
    color: #D6F9FA;
    padding-top: 25px;
}
.p-5 {
    font-size: 30px;
    color: #DEFEFD;
    padding-top: 20px;
    padding-left: 30px;
}
.span {
    padding-left: 10px;
    color: #65CFD2;
    font-size: 16.5px;
    position: absolute;
    left: 80px;
    top: 71.5px;
}
.p-6 {
    padding-left: 30px;
    color: #9EEAEA;
    font-size: 18px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.botao {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 5px;
    width: 243px;
    height: 18px;
    padding: 0px;
    border-radius: 5px;
    background-color: #BFDF32;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}
a {
    text-decoration: none;
    color: white;
}
.section-3 {
    width: 22.5%;
    height: 217px;
    background-color: #4ABEBD;
    position: relative;
    border-bottom-right-radius: 7px;
    position: relative;
    left: 683px;
    bottom: 217px;
}
.p-7 {
    padding-left: 30px;
    padding-top: 25px;
    font-size: 18px;
    color: #C3F9FB;
}
.p-8 {
    padding-left: 30px;
    padding-top: 22px;
    color: #80DADD;
    line-height: 18.5px;
}